.card-container{
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    justify-items: center;
    align-items: center;
    gap: 32px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-not-found{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    font-size: 2rem;
    font-weight: 700;
    color: #f44336;
}
