.load-button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 10rem;
    transition: .3s;
}

.load-button:hover{
    background-color: #45a049;
    transform: scale(1.03);
}