.card{
    width: 15rem;   
    height: 20rem;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}

.card:hover {
    transform: rotateY(180deg) translateY(-10px);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 6px solid;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: rotateY(180deg);
}

.pokemon-image{
    width: 10rem;
    height: 10rem;
}

.types
{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.type{
    padding: 0.5rem;
    border-radius: 5px;
}
