header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5DB13;
    color: white;
    height: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.logo{
    width: 100px;
    height: auto;
}